GO_ENV="development_or_production"
TELEGRAM_BOT_TOKEN=your_token_here
ALLOWED_ADMIN_USERS=12345678,87654321

# web hook variables only required in production environment
WEBHOOK_URL="http://localhost"
WEBHOOK_SECRET="your_webhook_secret"

# POSTGRESQL
POSTGRES_USER=cinna
POSTGRES_PASSWORD=change_me
POSTGRES_DB=cinna

DATABASE_URL=postgres://cinna:change_me@localhost:5432/cinna?sslmode=disable
